[submodule ".registry"]
	path = .registry
	url = https://github.com/r-geoflow/r-geoflow.r-universe.dev
	branch = HEAD
[submodule "geoflow"]
	path = geoflow
	url = https://github.com/r-geoflow/geoflow
